html,body {
    margin:0;
    padding: 0; 
}

/********************
**** Header ****
********************/

header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,28%);
}

header .logo img {
    width: 65%;
}

header .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 32%;
}

header .options .search-bar{
        position: relative;
}

header .options .search-bar img {
    position: absolute;
    width: 15%;
    right: 2%;
}

header .options .buttons {
    justify-content: space-between;
    width: 48%;
}

/******************
***** Main-Image**
******************/

.background img {
    width: 100%;
}


/****************
**** Body *******
****************/
section.body {
    background-color: rgba(0,0,0,100%);
}

section.body .newly-released {
    margin: auto 4%;
}
section.body .newly-released h1 {
    color: rgba(255,255,255);
    margin-top: 0;
}
section.body .newly-released ul li.card {
    width: 30%;
    position: relative;
}
 section.body .newly-released ul li.card .image {
    width: 100%;
}
 section.body .newly-released ul li.card .image img {
    width: 100%;
}
section.body .newly-released ul li.card .likes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section.body .newly-released ul li.card .likes .ratings {
    display: flex;
    align-items: center;
}
section.body .newly-released ul li.card .likes .ratings p {
    color: white;
    margin: 0;
    margin-top: 20%;
}